<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/header::html('编辑分类')"></head>

<body>
<div th:replace="include/admin/navigator::html"></div>

<div id="workingArea">
    <ol class="breadcrumb">
        <li><a href="list_category">所有分类</a></li>
        <li class="active">编辑分类</li>
    </ol>
    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑分类</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>分类名称</td>
                    <td><input @keyup.enter="update" v-model.trim="bean.name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>分类图片</td>
                    <td>
                        <input id="categoryPic" accept="image/*" type="file" name="image" @change="getFile($event)">
                    </td>
                </tr>
                <tr class="submitTR">
                    <td th:cols="2" align="center">
                        <input type="hidden" name="id" v-model.trim="bean.id">
                        <a href="javascript:void(0)" class="btn btn-success" @click="update">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="include/admin/footer::html"></div>

<script>
    $(function () {
        var dataForVue = {
            uri: 'categories',
            listURL: 'admin/list_category',
            bean: {id: 0, name: ''},
            file: ''
        };

        var vue = new Vue({
            el: '#workingArea',
            data: dataForVue,
            mounted: function () {
                this.get();
            },
            methods: {
                get: function () {
                    var id = getUrlParas("id");
                    var url = this.uri + "/" + id;
                    axios.get(url).then(function (response) {
                        vue.bean = response.data;
                    })
                },
                update: function () {
                    if (!checkEmpty(this.bean.name, "分类名称")) {
                        return;
                    }
                    var url = this.uri + "/" + this.bean.id;

                    var formData = new FormData();
                    formData.append("image", this.file);
                    formData.append("name", this.bean.name);
                    //  使用 put 方式上传。 按照 REST规范，增加是 POST,修改是 PUT。
                    axios.put(url, formData).then(function (response) {
                        // 修改成功之后， 跳转到 list_category 页面去。
                        // console.log(response);
                        location.href = vue.listURL;
                    });
                },
                getFile: function (event) {
                    this.file = event.target.files[0];
                }
            }
        });
    });
</script>

</body>
</html>