<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.tmall.entity.OrderItem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="number" column="number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,order_id,
        user_id,price, number
    </sql>


    <select id="getAllByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_item
        where
        order_id = #{orderId,jdbcType=NUMERIC}
    </select>
    <select id="getAllByProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_item
        where
        product_id = #{productId,jdbcType=NUMERIC}
    </select>
    <select id="getAllByUserIdAndOrderIdIsNull" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_item
        where
        user_id = #{userId,jdbcType=NUMERIC}
        AND order_id is null
    </select>
</mapper>
