<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tmall.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,
        salt,type
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>
    <select id="countByName" resultType="int">
        select count(*)
        from user
        where name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="getOneByNameAndPassword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        name = #{name,jdbcType=VARCHAR}
        AND password = #{password,jdbcType=VARCHAR}
    </select>
    <select id="getOneByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        name = #{name,jdbcType=VARCHAR}
    </select>

</mapper>
